@model Aprobos.mvc.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CelularUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CelularUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirecciónUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirecciónUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimientoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimientoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContraseñaUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContraseñaUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneroUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneroUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPaisNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPaisNavigation.CodigoPais)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdUsuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
